@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap');

/* common */

body {
	font-family: 'Signika Negative', sans-serif;
	margin: 0 auto;
	padding: 0 30px;
	max-width: 1200px;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

/* first section */
.header {
	color: white;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	background-image: linear-gradient(black, grey);
	margin: 6%;
	border-radius: 25px;
}

.header > div {
	width: 45%;
}

.descriptions {
	margin: 50px;
}

.descriptions > h1 {
	font-size: 70px;
	font-weight: bold;
}

.descriptions p {
	font-size: 20px;
	font-weight: normal;
}

.descriptions a {
	color: white;
	text-decoration: none;
	font-size: 25px;
	background-image: linear-gradient(coral, tomato);
	text-align: center;
	padding: 10px;
	border-radius: 6px;
}

.image img {
	display: block;
	margin-top: 150px;
	/* width: 60%; */
}

@media only screen and (max-width: 688px) {
	body {
		padding: 10px;
	}

	.header {
		margin: 0;
	}

	.header > div {
		width: 100%;
	}

	.descriptions > h1 {
		font-size: 60px;
	}

	.descriptions {
		margin: 0;
		padding: 0 10px;
		text-align: center;
		margin-bottom: 50px;
	}

	/* .image {
    display: flex;
    justify-content: center;
  } */

	.image img {
		margin: 0 auto;
	}
}
@media only screen and (min-width: 700px) {
	body {
		padding: 20px;
	}

	.header {
		margin: 0;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	.header > div {
		width: 100%;
	}

	.descriptions > h1 {
		font-size: 70px;
	}

	.descriptions {
		margin: 0px;
		padding: 0 10px;
		text-align: center;
		margin-bottom: 50px;
	}

	.image img {
		margin: 0 auto;
	}
}

/* second section */
.left {
	background-image: linear-gradient(grey, black);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25%;
	margin-top: 50px;
	border-radius: 10px;
}

.option {
	color: black;
	background-color: white;
	margin: 15px;
	border-radius: 4px;
	padding: 10px;
	width: 160px;
	text-align: center;
}

#blog {
	background-color: red;
}

.right {
	margin-top: 10px;
}
#transfer {
	border: 1px solid black;
	border-radius: 3px;
	color: black;
}
